OCR_BACKEND="openvino"
OCR_MLX_MODEL="matrixmaven/PaddleOCR-VL-1.6-MLX"
OCR_MLX_SERVER_URL=""
OCR_VL_CONCURRENCY=""
OCR_VLM_MODEL_PATH="C:\\models\\PaddleOCR-VL-1.6-OpenVINO-INT4"
OCR_LAYOUT_MODEL_PATH="C:\\models\\DocLayoutV3.xml"
OCR_VLM_DEVICE="GPU"
OCR_LAYOUT_DEVICE="CPU"
OCR_LLM_INT4_COMPRESS="true"
OCR_VISION_INT8_QUANT="true"
OCR_VLM_BATCH_SIZE="32"
OCR_MAX_NEW_TOKENS="64"
OCR_GPU_KV_CACHE_PRECISION="f16"
OCR_MODEL_CACHE_DIR=""
